body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(42, 42, 42);
}

.container {
    width: 50%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    font-size: 1.5em;
}

.form-elements {
    flex-basis: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

h1 {
    flex-basis: 100%;
    text-align: center;

}

.emoji-box {
    flex-basis: calc(33.33% - 20px);
    /* Added to set box width to one-third minus margins */
    margin: 10px;
    /* Added margin between boxes */
    text-align: center;
    /* Center align content */
    padding: 20px;
    /* Added padding for spacing */
    border: 1px solid #ccc;
    /* Added border for box */
    border-radius: 5px;
    /* Added border radius for rounded corners */
    cursor: pointer;
    /* Added cursor pointer for hover effect */
    flex-direction: row;
}

.emoji {
    font-size: 30px;
}

.emoji p {
    margin: 10px 0 0;
    /* Added margin for space between emoji and text */
}

.submit-button {
    flex-basis: 100%;
    text-align: center;
}

.btn {
    padding: 10px 20px;
    border: none;
    background-color: #030839;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.emoji-box:hover,
.emoji-box.active {
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}